@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.containerentry {
  width: 684px;
  height: 432px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  background: #F9F9F9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
  border-radius: 24px;
  overflow: hidden
}
.cross {
    width: 20px;
    height: 20px;
    left: 636px;
    top: 14px;
    position: absolute;
    transform-origin: 0 0;
    background:#FFAB08;
    border: none; 
  }
.orange{
    width: 342px; 
    height: 432px;
    left: 342px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    position: absolute; 
    background: #FFAB08
}
.peanut{
    width: 302px; 
    height: 302px; 
    padding-top: 51px; 
    padding-bottom: 51px; 
    padding-left: 70px; 
    padding-right: 50px; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex
}
.login{
    left: 20px; 
    top: 30px; 
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Nunito; 
    font-weight: 600; 
    line-height: 24px; 
    word-wrap: break-word
}
.form-control{
    width: 260px; 
    height: 20px; 
    padding: 12px;
    left: 20px; 
    top: 70px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F2F2F3 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
}
.form-controlfam{
    width: 260px; 
    height: 20px; 
    padding: 12px;
    left: 20px; 
    top: 120px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F2F2F3 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
  }
.form-controlemail{
    width: 260px; 
    height: 20px; 
    padding: 12px;
    left: 20px; 
    top: 170px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F2F2F3 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
}
.form-controlpas{
    width: 260px; 
    height: 20px; 
    padding: 12px;
    left: 20px; 
    top: 220px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F2F2F3 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
}
.form-controlrepas{
    width: 260px; 
    height: 20px; 
    padding: 12px;
    left: 20px; 
    top: 270px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    border: 1px #F2F2F3 solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex
}
.logbutton{
    width: 220px; 
    height: 20px; 
    padding-left: 32px; 
    padding-right: 32px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    left: 20px; 
    top: 325px; 
    position: absolute; 
    background: #FF7020; 
    border-radius: 12px; 
    border: none;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
    color: white;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
  }
.afterreg{
    left: 20px; 
    top: 380px; 
    position: absolute;
    color: black;
    font-size: 13px;
    font-family: Nunito;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}
.afterregbut{
    width: 50px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    border: none;
    border-radius: 12px; 
    background: #F9F9F9;  
    color: black; 
    font-size: 12px; 
    font-family: Nunito; 
    font-weight: 400; 
    word-wrap: break-word
}